@import 'media-queries';

/*--- SCSS FUNCTIONs ---*/
// DISPLAYED
@mixin Displayed($pos, $dir) {
    display: flex;
    justify-content: $pos;
    align-items: center;
    flex-direction: $dir;
}

// BUTTONS
@mixin Button($padd, $bg) {
    padding: $padd;
    outline: none;
    border: none;
    background: $bg;
    border-radius: 24px;
}

// FONTS
@mixin Font($fnt, $wgt, $sz, $clr) {
    font-family: $fnt;
    font-weight: $wgt;
    font-size: $sz !important;
    color: $clr;
    text-transform: uppercase;
}

.l-home-container {
    width: 100%;
    min-height: 100vh;
    //position: relative;

    .hero-section-container {
        width: 100%;
        height: 80vh;
        background: transparent !important;
        //border-bottom: 1px solid hsl(184, 5%, 40%);
        @include Displayed(center, row);
        position: relative;
        //overflow: hidden;

        @include phone {
            bottom: 10vh;
            width: 100%;
            height: 90%;
        }

        @include tablet {
            width: 100%;
        }

        .shape-right {
            position: absolute;
            bottom: -2.5rem;
            left: -5.5rem;
            width: 20.5rem;
            height: 20.5rem;
            background: $primary_clr;
            border-radius: 100%;
            z-index: -1;

            @include phone {
                top: 55vh;
                width: 23vh;
                height: 23vh;
            }

            @include tablet {
                top: 50vh;
                width: 23vh;
                height: 23vh;
            }
        }

        .shape-left {
            position: absolute;
            bottom: -2.5rem;
            right: -5.5rem;
            width: 10.5rem;
            height: 10.5rem;
            background: $primary_clr;
            border-radius: 100%;
            z-index: -1;

            @include phone {
                top: 65vh;
                right: -2rem;
                width: 12vh;
                height: 12vh;
            }

            @include tablet {
                top: 59vh;
                width: 19vh;
                height: 19vh;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            //backdrop-filter: blur(20px);
        }

        .hero-banner-content {
            width: 65%;
            height: auto;
            padding: 7.5rem 3.5rem;
            margin: auto;
            text-align: center;
            z-index: 100;

            @include phone {
                width: 100%;
                height: 50%;
                margin-bottom: 10rem;
                font-size: 21px !important;
            }

            @include tablet {
                width: 100%;
                margin-top: 22rem;
               margin-bottom: 45rem;
            }

            .hero-banner-title {
                @include Font($roboto, 900, 60px, $primary_clr);
                margin-bottom: 0.75rem;

                @include phone {
                    right: 1rem;
                    font-size: 25px !important;
                }

                @include tablet {
                    font-size: 4rem !important;
                }
            }

            .hero-banner-desc {
                @include Font($rajdhani, 400, 19px, $bg_clr);
                text-transform: capitalize !important;

                @include phone {
                    font-size: 15px !important;
                }
            }

            .hero-banner-started {
                @include Button(10px 45px, $primary_clr);
                @include Font($robotoCD, 200, 17px, $bg_clr !important);
                //text-transform: capitalize !important;
                margin-top: 2.5rem;
                position: relative;
                overflow: hidden;

                @include phone {
                    bottom: 2rem;
                    text-align: center;
                    padding: 3%;
                    width: 50%;
                }

                @include tablet {
                    width: 60%;
                    font-size: 1rem !important;
                    height: 50px;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.50);
                    position: absolute;
                    top: 0;
                    left: -100%;
                    transition: all 0.3s ease-in-out;
                }

                &:hover:after {
                    left: 100%;
                }
            }
        }
    }

    .home-how-it-works {
        width: 100%;
        height: 100vh;
        margin-top: 4.5rem;
        background: url(../../Assets/SVG/work-string-svg.png) no-repeat center center;

        @include phone {
            margin-top: 9vh;
            padding: 1rem;
           background: none;
        }

        @include tablet {
            background: none;
        }
        @include sm-desktop {
            background: none;
        }

        .section-label {

            @include phone {
                position: floor($number: 3);
                font-size: 29px !important;
            }
        }

        .row {

            @include phone {
               margin-top: 100vh;
            }

            #swp {

                @include tablet {
                    display: flex;
                    flex-direction: column-reverse;
                }

                @include phone {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            .col-md-3 {

                @include phone {
                    width: 100%;
                    display: flex;
                    margin: auto;
                    position: relative;
                    padding: 1rem;
                }

                @include tablet {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    padding: 1.5rem;
                }
                
            }
        }

        .home-setting-row {
            width: 100%;
            @include Displayed(center, row);
            margin: .75rem auto;

            @include phone {
                top: -5rem;
            }


            .MuiFormControlLabel-label {
                @include Font($robotoCD, 200, 17px, $bg_clr);
                text-transform: capitalize !important;
            }
        }

        .step-box-container {
            width: 100%;
            height: 100%;
            padding: 0.75rem;
            //margin: auto;
            //text-align: center;

            @include phone {
                width: 100%;
            }

            .step-poster-wrapper {
                width: 10.5rem;
                height: 10.5rem;
                margin: auto;

                .step2 {
                    @include tablet {

                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            .step-box-content {
                margin-top: 1.5rem;

                .step-title {
                    @include Font($montserrat, 500, 21px, $bg_clr);
                    text-transform: capitalize !important;
                    margin-bottom: 0.75rem;
                }

                .step-desc {
                    @include Font($robotoCD, 200, 16px, hsl(184, 5%, 40%));
                    text-transform: capitalize !important;
                }
            }
        }
    }

    .home-about-lgani {
        width: 100%;
        height: 100vh;
        margin-top: 4.5rem;

        @include phone {
            margin-top: 87rem;
           width: 100%;
        }

        // @include tablet {
        //     background-color: #0ff;
        //     margin-right: 3rem;
        // }

        .row {
            @include sm-desktop {
            display: flex;
            width: 145% !important;
            }
        }
        
        #ajidq {

            @include sm-desktop {
            margin-left: -6rem;
            width: 47% !important;
            height: 47%;
        }
        } 

        #aji {
            @include sm-desktop {
                font-size: 9px;
                width: 43% !important;
                margin-left: -2rem;
                padding-right: 2rem;
            }
        }

        .col-md-6 {
            
            @include tablet {
                margin: auto;
            }
        }

        @include tablet {
            margin-top: 35rem;
        }
        
         .container {
        //     @include phone {
        //         background-color: crimson;
        //         text-align: center;
        //         font-size: 10px !important;
        //         position: absolute;
        //     }

            .row {
                
                @include phone {
                    width: 100% !important;
                    display: block;
                }

                @include tablet {
                    width: 100%;
                    display: block;
                }
            }
        }
        .section-label {
            font-size: 22px !important;
            text-align: center;
        }
        .brand_name {
            color: $primary_clr;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 3px;
                margin: auto;
                border-radius: 24px;
                background: $primary_clr;
                position: absolute;
                bottom: -0.50rem;
                left: 0;
            }
        }

        .box-poster-wrapper {
            width: 100%;
            height: 100%;

            @include phone {
                top: 20rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.2);

                @include phone {
                    width: 200% !important;
                    object-fit: cover;
                }

                @include tablet {
                    width: 100%;
                }
            }
        }

        .box-content-wrapper {
            width: 100%;
            height: 100%;
            padding: 1rem;
            margin: auto;

            .content-desc {
                @include Font($robotoCD, 200, 17px, hsl(184, 5%, 40%));
                text-transform: capitalize !important;

                @include phone {
                    text-align: center;
                    width: 220% !important;
                    margin-left: 10%;
                    font-size: 17px !important;
                
                }

                @include tablet {
                    text-align: center !important;
                    font-size: 20px !important;
                    width: 120%;
                    margin-bottom: 3rem;
                    margin-top: 2rem;
                }

            }
        }

        .our-features-box {
            margin-top: 1.20rem;
            width: 100%;

            @include phone {
                width: 200%;
                margin-left: 20%;
                padding: 5%;
            }

            @include tablet {
                width: 220%;
                margin: auto;
            }

            ul {
                padding-left: 0 !important;

                @include tablet {
                    padding: 2rem;
                }
            }

            .list-item {
                @include Displayed(flex-start, row);

                .check-mark-holder {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    margin-right: 0.75rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                }

                .feature-label {
                    @include Font($robotoCD, 200, 17px, $bg_clr);
                    text-transform: capitalize !important;
                }
            }
        }
    }

    .home-banner-container {
        width: 100%;
        height: 55vh;
        margin-top: -35rem;
        background: $primary_clr;
        @include Displayed(center, row);

        @include phone {
            margin-top: 35rem;
            height: 110%;
        }

        @include tablet {
            margin: auto;
        }

        // @include sm-desktop {
        //     //height: 20vh;
        // }

        .banner-content {
            width: 60%;
            height: auto;
            padding: 0 0.9rem;
            margin: auto;


            .banner-label {
                @include Font($roboto, 900, 55px, $bg_clr);
                margin-bottom: 0.75rem;

                @include phone {
                    // margin-left: -3rem;
                    text-align: left;
                    font-size: 30px !important;
                }
            }

            .list-item {
                @include Displayed(flex-start, row);
                @include Font($robotoCD, 200, 17px, $bg_clr);
                text-transform: capitalize !important;
                margin-bottom: .75rem;

                .bx-edit,
                .bx-mobile-alt,
                .bx-time-five {
                    font-size: 22px;
                    color: $bg_clr;
                    margin-right: 0.50rem;
                }
            }

            .banner-footer-wrapper {
                margin-top: 1rem;
                width: 100%;
                @include Displayed(flex-start, row);

                .btn-get-started {
                    @include Button(10px 35px, $bg_clr);
                    @include Font($robotoCD, 200, 17px, $primary_clr);
                    margin-right: 1.2rem;

                    @include phone {
                        width: 100%;
                        padding: 10px;
                        font-size: 12px !important;
                        text-align: center;
                        position: relative;
                    }
                }

                .btn-extension-label {
                    @include Font($shadows, 400, 21px, $bg_clr);
                }
            }
        }
    }


    .home-get-started-section {
        width: 100%;
        min-height: 75vh;
        margin-top: 10.5rem;

        .container {
            @include phone {
                padding-top: 16rem;
            }
        }

        .row {
            @include phone {
                width: 110% !important;
                display: block;
            }

            .col-md-4 {
                width: 96%;
                padding: 1%;
            }
        }

        .section-label {

            @include phone {
                padding: 2rem;
                margin: auto;
            }
        }

        .box-container {
            width: 100%;
            height: auto;
            padding: 0.50rem;
            border: 1px solid hsl(184, 5%, 40%);
            border-radius: 24px;
            margin: auto;
            text-align: center;
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                background: rgba(255, 255, 255, 0.50);
                transition: all 0.3s ease-in-out;
            }

            &:hover:after {
                left: 100%;
            }

            .box-icon-wrapper {
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 100%;
                @include Displayed(center, row);
                background: $primary_clr;
                margin: 0.50rem auto;

                .bx-qr-scan,
                .bx-user-plus,
                .bx-link {
                    font-size: 45px;
                    color: $bg_clr;
                }

            }

            .box-content-wrapper {
                margin-top: 0.75rem;
                padding: 0 1.40rem;

                .box-label {
                    @include Font($montserrat, 500, 21px, $bg_clr);
                    text-transform: capitalize !important;
                    margin-bottom: 0.75rem;
                }

                .box-desc {
                    @include Font($robotoCD, 200, 16px, hsl(184, 5%, 40%));
                    text-transform: capitalize !important;
                }

                .box-btn {
                    @include Button(10px 35px, $bg_clr);
                    @include Font($robotoCD, 200, 17px, $primary_clr);
                    margin: 1.5rem;
                }
            }

        }
    }

    .home-our-features-section {
        width: 100%;
        min-height: 75vh;
        margin-top: 4.5rem;

        .row {
            @include phone {
                width: 110% !important;
                display: block;
            }

            .col-md-4 {
                @include phone {
                    width: 120%;

                }
            }
        }

        .feature-box-wrapper {
            width: 100%;
            height: 100%;
            padding: 0.75rem;
            text-align: center;
            margin: auto;

            .feature-circle-wrapper {
                width: 6.5rem;
                height: 6.5rem;
                border-radius: 100%;
                //background: #FFBF77;
                border: 2px solid $primary_clr;
                @include Displayed(center, row);
                margin: auto;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: $primary_clr;
                }

                &:hover>.feature-label-count {
                    color: $bg_clr !important;
                }

                .feature-label-count {
                    @include Font($montserrat, 500, 34px, $primary_clr);
                    text-transform: capitalize !important;
                    transition: all 0.3s ease-in-out;
                }
            }

            .feature-content-wrapper {
                //padding: 0 0.35rem;
                margin-top: .75rem;

                .feature-title {
                    @include Font($montserrat, 500, 21px, $bg_clr);
                    text-transform: capitalize !important;
                    margin-bottom: 0.75rem;
                }

                .feature-desc {
                    @include Font($robotoCD, 200, 16px, hsl(184, 5%, 40%));
                    text-transform: capitalize !important;
                }
            }

        }

    }

}

.register_modal_container,
.login_modal_container {
    width: 100%;

    .register-btn,
    .login-btn {
        @include Button(10px 35px, $primary_clr);
        @include Font($robotoCD, 200, 16px, $bg_clr);
        margin-top: 1rem;
    }
}