// GLOBAL VAIABLES
/*--- BACKGROUND & COLORS ---*/
$bg_clr: hsl(204, 8%, 98%);
$primary_clr: #FB8500;
$secondary_clr: #252422;
$titles_clr: #253145;
$section_clr: #FFFCF2;
/*--- BOX SHADOWS ---*/
$bx-sh: 0 25px 50px -18px $primary_clr;

/*--- FONTS ---*/
$roboto: "Roboto", sans-serif;
$robotoSlab: "Roboto Slab", sans-serif;
$robotoCD: "Roboto Condensed", sans-serif;
$barlow: 'Barlow', sans-serif;
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$rajdhani: "Rajdhani", sans-serif;
$shadows: 'Shadows Into Light', cursive;
$kdam: 'Kdam Thmor Pro', sans-serif;