@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
/*--- BACKGROUND & COLORS ---*/
/*--- BOX SHADOWS ---*/
/*--- FONTS ---*/
/*--- SCSS FUNCTIONs ---*/
.footer_section {
  width: 100%;
  height: 100%;
  margin-top: 4.5rem;
}

.footer_section .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.footer_section .footer_wrapper .footer_body {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_wrapper .footer_body .ftr_logo_bx {
  width: 8.3rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_section .footer_wrapper .footer_body .ftr_logo_bx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_section .footer_wrapper .footer_body .ftr_slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #e9ecec;
  text-transform: uppercase;
  text-transform: capitalize !important;
  margin-top: 1.9rem;
}

.footer_section .footer_wrapper .footer_tail {
  margin-top: 2.5rem;
}

.footer_section .footer_wrapper .footer_tail .ftr_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_section .footer_wrapper .footer_tail .ftr_links .ftr_item {
  margin-right: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: #e9ecec;
  text-transform: uppercase;
  text-transform: capitalize !important;
}

.footer_section .footer_wrapper .footer_tail .ftr_links .ftr_item a {
  font-size: 17px !important;
}

/*--- SCSS FUNCTIONs ---*/
.l-home-container {
  width: 100%;
  min-height: 100vh;
}

.l-home-container .hero-section-container {
  width: 100%;
  height: 75vh;
  background: transparent !important;
  border-bottom: 1px solid #616a6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: hidden;
}

.l-home-container .hero-section-container .shape-right {
  position: absolute;
  bottom: -2.5rem;
  left: -5.5rem;
  width: 20.5rem;
  height: 20.5rem;
  background: #FB8500;
  border-radius: 100%;
  z-index: -1;
}

.l-home-container .hero-section-container .shape-left {
  position: absolute;
  bottom: -2.5rem;
  right: -5.5rem;
  width: 10.5rem;
  height: 10.5rem;
  background: #FB8500;
  border-radius: 100%;
  z-index: -1;
}

.l-home-container .hero-section-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.l-home-container .hero-section-container .hero-banner-content {
  width: 65%;
  height: auto;
  padding: 7.5rem 3.5rem;
  margin: auto;
  text-align: center;
  z-index: 100;
}

.l-home-container .hero-section-container .hero-banner-content .hero-banner-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px !important;
  color: #FB8500;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.l-home-container .hero-section-container .hero-banner-content .hero-banner-desc {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 19px !important;
  color: #f9fafa;
  text-transform: uppercase;
  text-transform: capitalize !important;
}

.l-home-container .hero-section-container .hero-banner-content .hero-banner-started {
  padding: 10px 45px;
  outline: none;
  border: none;
  background: #FB8500;
  border-radius: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 17px !important;
  color: #f9fafa !important;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #252422 !important;
}

a,
a:before,
a:after {
  text-decoration: none !important;
  font-size: 16px;
  color: #FFFCF2 !important;
}

li,
li:before,
li:after {
  list-style: none !important;
}

input {
  text-transform: none !important;
}

/*--- SCSS FUNCTIONs ---*/
/*--- START GLOBAL CSS VARIABLES ---*/
.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.bxl-meta {
  font-size: 45px;
  color: #FB8500;
}

.bxs-grid-alt {
  font-size: 28px;
  color: #f9fafa;
}

/*--- END GLOBAL CSS VARIABLES ---*/
/*--- START STYLING HEADER ---*/
header {
  padding: 0 1.5rem 0 1.5rem;
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  background: transparent;
  border-bottom: 1px solid #616a6b;
}

header .navbar {
  width: 100% !important;
  height: 100% !important;
  padding: 0 2.5rem;
}

header .navbar .logo-wrapper {
  width: 12.3rem;
  height: auto;
  /*img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }*/
}

header .navbar .nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 17px !important;
  color: #e9ecec !important;
  text-transform: uppercase;
  text-transform: capitalize !important;
  margin-left: 1.2rem;
}

header .navbar .nav-item a {
  font-size: 17px !important;
}

header .navbar .header_btns {
  padding: 0rem;
}

header .navbar .header_btns .btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.9rem;
}

header .navbar .header_btns .btn_list .btn-item {
  padding-top: 0.5rem;
  margin-right: 1.5rem;
}

header .navbar .header_btns .btn_list .signup-btn {
  padding: 10px 35px;
  outline: none;
  border: none;
  background: #FB8500;
  border-radius: 24px;
  -webkit-box-shadow: 0 25px 50px -18px #FB8500;
          box-shadow: 0 25px 50px -18px #FB8500;
}

header .navbar .header_btns .btn_list .signup-btn a {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px !important;
  color: #f9fafa !important;
  text-transform: uppercase;
  text-transform: capitalize !important;
}

header .navbar .header_btns .btn_list .login-btn {
  padding: 10px 35px;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 24px;
  border: 2px solid #FB8500;
}

header .navbar .header_btns .btn_list .login-btn a {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px !important;
  color: #FB8500 !important;
  text-transform: uppercase;
  text-transform: capitalize !important;
}

header .navbar .logo-wrapper {
  width: 9.3rem;
  height: auto;
}

header .navbar .logo-wrapper img {
  width: 85%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--- END STYLING HEADER ---*/
/*# sourceMappingURL=global.css.map */